/*参考 淘宝官网 样式初始化*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: STHeitiSC!important;
  font-size: 14px!important;
  font-weight: 300!important;
  color: #14181b!important;
  background-color: #fafafa!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[v-cloak] {
  display: none;
}
#home .topBar {
  min-width: 1366px;
  height: 56px;
  position: relative;
}
#home .topBar .logo {
  width: 36px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
#home .topBar .topBar_menu {
  width: 528px;
  height: 56px;
  margin: 0 auto;
}
#home .topBar .topBar_menu li {
  cursor: pointer;
  height: 40px;
  line-height: 56px;
  text-align: center;
  margin: 0 30px;
  float: left;
  position: relative;
}
#home .topBar .topBar_menu li:hover {
  color: #25ba80;
  border-bottom: 1px solid #25ba80;
}
#home .topBar .topBar_right {
  position: absolute;
  top: 0;
  right: 0;
}
#home .carouselArea {
  min-width: 1366px;
  height: 342px;
  background: blue;
}
#home .product_nav {
  text-align: center;
}
#home .product_nav .oneProduct {
  display: inline-block;
  width: 560px;
  height: 280px;
}
#home .product_nav .oneProduct .oneProduct_img,
#home .product_nav .oneProduct .oneProduct_desc {
  width: 280px;
  height: 280px;
  float: left;
}
#home .product_nav .oneProduct .oneProduct_img {
  background: red;
}
#home .product_sellWell,
#home .product_recommend {
  text-align: center;
}
#home .product_sellWell > h3,
#home .product_recommend > h3 {
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  color: #585858;
}
#home .product_sellWell .oneProduct,
#home .product_recommend .oneProduct {
  display: inline-block;
  width: 271px;
  height: 331px;
  margin: 0 12px;
}
#home .product_sellWell .oneProduct .oneProduct_img,
#home .product_recommend .oneProduct .oneProduct_img {
  width: 271px;
  height: 271px;
}
#home .product_sellWell .oneProduct .oneProduct_desc,
#home .product_recommend .oneProduct .oneProduct_desc {
  width: 271px;
  height: 60px;
  background-color: #585858;
}
