/*参考 淘宝官网 样式初始化*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: STHeitiSC!important;
  font-size: 14px!important;
  font-weight: 300!important;
  color: #14181b!important;
  background-color: #fafafa!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[v-cloak] {
  display: none;
}
#topBar {
  min-width: 1050px;
  height: 56px;
  position: relative;
}
#topBar .topBar_pc .logo {
  width: 48px;
  height: 40px;
  margin-left: 20%;
  position: absolute;
  top: 8px;
  left: 0;
}
#topBar .topBar_pc .topBar_menu {
  width: 560px;
  height: 56px;
  margin: 0 auto;
}
#topBar .topBar_pc .topBar_menu li {
  cursor: pointer;
  height: 40px;
  line-height: 56px;
  font-size: 18px;
  text-align: center;
  margin: 0 22px;
  float: left;
  position: relative;
}
#topBar .topBar_pc .topBar_menu li:hover {
  color: #25ba80;
  font-weight: 500;
  border-bottom: 1px solid #25ba80;
}
#topBar .topBar_pc .topBar_menu li.active {
  color: #25ba80;
  font-weight: 500;
  border-bottom: 1px solid #25ba80;
}
#topBar .topBar_pc .topBar_right {
  position: absolute;
  top: 15px;
  right: 35px;
}
#topBar .topBar_pc .topBar_right .search {
  display: inline-block;
  position: relative;
}
#topBar .topBar_pc .topBar_right .search input {
  box-sizing: border-box;
  width: 180px;
  height: 26px;
  text-indent: 15px;
  padding: 0 30px 0 0;
  border-radius: 14px;
  border: solid 1px #5a5a5a;
  outline: none;
}
#topBar .topBar_pc .topBar_right .search .search_icon {
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: url('/images/search_icon.png') no-repeat;
  background-size: 15px 15px;
  position: absolute;
  top: 5px;
  right: 8px;
}
#topBar .topBar_pc .topBar_right .user_icon {
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 0 0 20px;
  background: url('/images/user_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 3px;
}
#topBar .topBar_pc .topBar_right .user_info {
  display: inline-block;
  margin: 0 0 0 10px;
}
#topBar .topBar_pc .topBar_right .user_info > img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}
#topBar .topBar_pc .topBar_right .user_info > span {
  cursor: pointer;
  margin: 0 5px;
}
#topBar .topBar_pc .topBar_right .user_info > span:hover {
  color: #25ba80;
}
#topBar .topBar_pc .topBar_right .user_info .quit_icon {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/images/quit_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 2px;
}
#topBar .topBar_wap {
  display: none;
  position: relative;
}
#topBar .topBar_wap .nav {
  position: absolute;
  top: 0px;
  left: 15px;
  z-index: 999;
}
#topBar .topBar_wap .nav .nav_img {
  width: 40px;
  height: 40px;
}
#topBar .topBar_wap .search {
  width: 180px;
  margin: 0 auto;
  position: relative;
}
#topBar .topBar_wap .search input {
  box-sizing: border-box;
  width: 180px;
  height: 26px;
  text-indent: 15px;
  padding: 0 30px 0 0;
  border-radius: 14px;
  border: solid 1px #5a5a5a;
  outline: none;
}
#topBar .topBar_wap .search .search_icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('/images/search_icon.png') no-repeat;
  background-size: 15px 15px;
  position: absolute;
  top: 5px;
  right: 8px;
}
#topBar .topBar_wap .info {
  position: absolute;
  top: 15px;
  right: 10px;
}
#topBar .topBar_wap .info .user_icon {
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  background: url('/images/user_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 2px;
}
#topBar .topBar_wap .info .quit_icon {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/images/quit_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 2px;
}
#topBar .toNav_dialog .el-dialog__header {
  display: none;
}
#topBar .toNav_dialog .toNav_dialog_main li {
  height: 40px;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
}
#footer {
  box-sizing: border-box;
  min-width: 1050px;
  height: 380px;
  padding: 85px 0 0 0;
  background-color: #585858;
  overflow: hidden;
}
#footer .subscribe,
#footer .about,
#footer .support,
#footer .contact {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  float: left;
}
#footer .subscribe > h4,
#footer .about > h4,
#footer .support > h4,
#footer .contact > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
#footer .subscribe {
  box-sizing: border-box;
  width: 34%;
  padding-left: 5%;
}
#footer .subscribe .email_submit > input {
  width: 277px;
  height: 40px;
  text-indent: 10px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
}
#footer .subscribe .email_submit > button {
  width: 78px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  border: solid 1px #989898;
  background-color: #585858;
}
#footer .subscribe .link {
  margin: 40px 0 0 0;
}
#footer .subscribe .link i {
  display: inline-block;
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin: 0 10px 0 0;
}
#footer .subscribe .link .facebook_icon {
  background: url('/images/facebook_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .twitter_icon {
  background: url('/images/twitter_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .google_icon {
  background: url('/images/google_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .youtobe_icon {
  background: url('/images/youtobe_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .instagram_icon {
  background: url('/images/instagram_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .periscope_icon {
  background: url('/images/periscope_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .about,
#footer .support {
  width: 22%;
}
#footer .about > ul li,
#footer .support > ul li {
  margin: 0 0 20px 0;
}
#footer .about > ul li span,
#footer .support > ul li span {
  cursor: pointer;
}
#footer .about > ul li span:hover,
#footer .support > ul li span:hover {
  color: #00a7e1;
}
#footer .contact {
  width: 22%;
}
#footer .contact .call,
#footer .contact .email {
  margin: 0 0 40px 0;
}
#footer .contact .call > h4,
#footer .contact .email > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
#footer .statement {
  color: #fff;
  font-size: 16px;
  text-align: center;
  clear: both;
  padding-top: 20px;
}
@media screen and (max-width: 414px) {
  #topBar {
    min-width: 100%;
    height: 44px;
  }
  #topBar .topBar_pc {
    display: none;
  }
  #topBar .topBar_wap {
    display: block;
  }
  #topBar .topBar_wap .search {
    top: 11px;
  }
  #footer {
    display: none;
  }
}
.el-dialog {
  padding: 15px 25px 0 25px;
}
.el-dialog__header {
  font-weight: 300!important;
  height: 40px!important;
  line-height: 40px!important;
  padding: 0!important;
}
.el-dialog__body {
  padding: 0!important;
}
.el-dialog__footer {
  height: 40px!important;
  line-height: 40px!important;
  text-align: center!important;
  padding: 0!important;
}
.el-dialog__footer button {
  width: 85px!important;
  height: 28px!important;
  font-size: 12px!important;
  border-radius: 4px!important;
  padding: 0!important;
}
.el-dialog__footer button:nth-of-type(1) {
  color: #25ba80!important;
  border: solid 1px #25ba80!important;
}
.el-dialog__footer button:nth-of-type(2) {
  color: #fff!important;
  border: none!important;
  margin: 0 0 0 5px!important;
  background: #25ba80!important;
}
.el-pager li:hover,
.el-pagination button:hover {
  color: #25ba80;
}
.el-pagination button.disabled {
  color: #e4e4e4;
}
.el-pager li.active {
  cursor: default;
  color: #fff;
  border-color: #25ba80;
  background: #25ba80;
}
.el-button {
  color: #25ba80;
  padding: 0;
}
.el-button:focus {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--default {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--default:hover {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--primary {
  color: #fff;
  border: 1px solid #25ba80;
  background: #25ba80;
}
.el-button--primary:hover,
.el-button--primary:focus {
  color: #fff;
  border: 1px solid #25ba80;
  background: #25ba80;
}
.el-loading-spinner .path {
  stroke: #25ba80;
}
.el-loading-spinner .el-loading-text {
  color: #25ba80;
}
#login_main {
  min-width: 1050px;
  height: 700px;
  background: url("/images/login_bg.png") no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
#login_main .login_box {
  box-sizing: border-box;
  width: 570px;
  height: 575px;
  padding: 0 59px;
  background-color: #ffffff;
  position: absolute;
  right: 121px;
  top: 74px;
}
#login_main .login_box .login_header {
  font-size: 48px;
  text-align: center;
  padding: 30px 0 35px 0;
}
#login_main .login_box .login_info {
  font-size: 18px;
}
#login_main .login_box .login_info > p {
  margin-bottom: 25px;
}
#login_main .login_box .login_info > p:nth-of-type(1) input,
#login_main .login_box .login_info > p:nth-of-type(2) input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  text-indent: 44px;
  border-radius: 4px;
  border: solid 1px #5a5a5a;
}
#login_main .login_box .login_info > p:nth-of-type(1) input {
  background: url('/images/user.png') no-repeat;
  background-position: 10px 13px;
  background-size: 25px 25px;
}
#login_main .login_box .login_info > p:nth-of-type(2) input {
  background: url('/images/password.png') no-repeat 10px 13px;
  background-position: 10px 13px;
  background-size: 20px 24px;
}
#login_main .login_box .login_info > p:nth-of-type(3) {
  display: inline-block;
  cursor: pointer;
  color: #5a5a5a;
  text-decoration: underline;
}
#login_main .login_box .btns .loginBtn {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background-color: #25ba80;
  color: #fff;
  font-size: 20px;
  border: 0px solid transparent;
  margin: 0 0 25px 0;
}
#login_main .login_box .btns .or_text {
  text-align: center;
  margin: 0 0 25px 0;
  position: relative;
}
#login_main .login_box .btns .or_text:before,
#login_main .login_box .btns .or_text:after {
  content: '';
  display: inline-block;
  width: 44%;
  height: 1px;
  background: #5a5a5a;
  position: absolute;
  top: 7px;
}
#login_main .login_box .btns .or_text:before {
  left: 0;
}
#login_main .login_box .btns .or_text:after {
  right: 0;
}
#login_main .login_box .btns .registerBtn {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  color: #25ba80;
  font-size: 20px;
  border: 1px solid #25ba80;
  margin: 0 0 25px 0;
  background: #fff;
}
.forgetPass_dialog {
  width: 350px;
}
.forgetPass_dialog .forgetPass_dialog_main p {
  margin-bottom: 10px;
}
.forgetPass_dialog .forgetPass_dialog_main p input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  border: solid 1px #5a5a5a;
}
.forgetPass_dialog .forgetPass_dialog_main p button {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.forgetPass_dialog .forgetPass_dialog_main p:nth-of-type(2) input {
  width: 200px;
}
@media screen and (max-width: 414px) {
  #login_main {
    min-width: 100%;
    height: 600px;
  }
  #login_main .login_box {
    width: 320px;
    height: 400px;
    padding: 0 20px;
    margin: 60px auto 0 auto;
    position: relative;
    top: 0;
    left: 0;
  }
  #login_main .login_box .login_header {
    font-size: 38px;
    padding: 15px 0 20px 0;
  }
  #login_main .login_box .login_info > p:nth-of-type(1) input,
  #login_main .login_box .login_info > p:nth-of-type(2) input {
    height: 40px;
  }
  #login_main .login_box .login_info > p:nth-of-type(1) input {
    background-position: 10px 8px;
  }
  #login_main .login_box .login_info > p:nth-of-type(2) input {
    background-position: 10px 8px;
  }
  #login_main .login_box .btns .loginBtn,
  #login_main .login_box .btns .or_text,
  #login_main .login_box .btns .registerBtn {
    margin: 0 0 10px 0;
  }
}
