/*参考 淘宝官网 样式初始化*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: STHeitiSC!important;
  font-size: 14px!important;
  font-weight: 300!important;
  color: #14181b!important;
  background-color: #fafafa!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[v-cloak] {
  display: none;
}
#topBar {
  min-width: 1366px;
  height: 56px;
  position: relative;
}
#topBar .logo {
  width: 36px;
  height: 30px;
  position: absolute;
  top: 13px;
  left: 15px;
}
#topBar .topBar_menu {
  width: 560px;
  height: 56px;
  margin: 0 auto;
}
#topBar .topBar_menu li {
  cursor: pointer;
  height: 40px;
  line-height: 56px;
  text-align: center;
  margin: 0 30px;
  float: left;
  position: relative;
}
#topBar .topBar_menu li:hover {
  color: #25ba80;
  border-bottom: 1px solid #25ba80;
}
#topBar .topBar_right {
  position: absolute;
  top: 15px;
  right: 80px;
}
#topBar .topBar_right .search {
  display: inline-block;
  position: relative;
}
#topBar .topBar_right .search input {
  box-sizing: border-box;
  width: 180px;
  height: 26px;
  text-indent: 15px;
  padding: 0 30px 0 0;
  border-radius: 14px;
  border: solid 1px #5a5a5a;
  outline: none;
}
#topBar .topBar_right .search .search_icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('/images/search_icon.png') no-repeat;
  background-size: 15px 15px;
  position: absolute;
  top: 5px;
  right: 8px;
}
#topBar .topBar_right .user_icon {
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 0 0 20px;
  background: url('/images/user_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 3px;
}
#footer {
  box-sizing: border-box;
  min-width: 1366px;
  height: 380px;
  padding: 85px 0 0 130px;
  background-color: #585858;
}
#footer .subscribe,
#footer .about,
#footer .support,
#footer .contact {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
#footer .subscribe > h4,
#footer .about > h4,
#footer .support > h4,
#footer .contact > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
#footer .subscribe {
  width: 33%;
}
#footer .subscribe .email_submit > input {
  width: 277px;
  height: 40px;
  text-indent: 10px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
}
#footer .subscribe .email_submit > button {
  width: 78px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  border: solid 1px #989898;
  background-color: #585858;
}
#footer .subscribe .link {
  margin: 40px 0 0 0;
}
#footer .subscribe .link i {
  display: inline-block;
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin: 0 10px 0 0;
}
#footer .subscribe .link .facebook_icon {
  background: url('/images/facebook_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .twitter_icon {
  background: url('/images/twitter_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .google_icon {
  background: url('/images/google_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .youtobe_icon {
  background: url('/images/youtobe_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .instagram_icon {
  background: url('/images/instagram_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .periscope_icon {
  background: url('/images/periscope_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .about,
#footer .support {
  width: 22%;
}
#footer .about > ul li,
#footer .support > ul li {
  margin: 0 0 20px 0;
}
#footer .about > ul li span,
#footer .support > ul li span {
  cursor: pointer;
}
#footer .about > ul li span:hover,
#footer .support > ul li span:hover {
  color: #00a7e1;
}
#footer .contact {
  width: 22%;
}
#footer .contact .call,
#footer .contact .email {
  margin: 0 0 40px 0;
}
#footer .contact .call > h4,
#footer .contact .email > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.el-dialog {
  padding: 15px 25px 0 25px;
  margin: 0;
}
.el-dialog__header {
  font-weight: 300!important;
  height: 40px!important;
  line-height: 40px!important;
  padding: 0!important;
}
.el-dialog__body {
  padding: 0!important;
}
.el-dialog__footer {
  height: 40px!important;
  line-height: 40px!important;
  text-align: center!important;
  padding: 0!important;
}
.el-dialog__footer button {
  width: 85px!important;
  height: 28px!important;
  font-size: 12px!important;
  border-radius: 4px!important;
  padding: 0!important;
}
.el-dialog__footer button:nth-of-type(1) {
  color: #25ba80!important;
  border: solid 1px #25ba80!important;
}
.el-dialog__footer button:nth-of-type(2) {
  color: #fff!important;
  border: none!important;
  margin: 0 0 0 5px!important;
  background: #25ba80!important;
}
.el-pager li:hover,
.el-pagination button:hover {
  color: #25ba80;
}
.el-pagination button.disabled {
  color: #e4e4e4;
}
.el-pager li.active {
  cursor: default;
  color: #fff;
  border-color: #25ba80;
  background: #25ba80;
}
.el-button {
  color: #25ba80;
  padding: 0;
}
.el-button:focus {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--default {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--default:hover {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--primary {
  color: #fff;
  border: 1px solid #25ba80;
  background: #25ba80;
}
.el-button--primary:hover,
.el-button--primaryfocus {
  color: #fff;
  border: 1px solid #25ba80;
  background: #25ba80;
}
#product_detail_main .productShow {
  margin: 0 0 47px 0;
}
#product_detail_main .productShow .picShow {
  display: inline-block;
  width: 50%;
  text-align: center;
  vertical-align: top;
}
#product_detail_main .productShow .picShow > p {
  margin: 0 0 10px 0;
}
#product_detail_main .productShow .picShow > p img {
  width: 360px;
  height: 360px;
}
#product_detail_main .productShow .picShow > ul {
  display: inline-block;
}
#product_detail_main .productShow .picShow > ul li {
  display: inline-block;
  cursor: pointer;
  margin: 0 10px 0 0;
}
#product_detail_main .productShow .picShow > ul li:hover {
  border: 1px solid #ccc;
}
#product_detail_main .productShow .picShow > ul li img {
  width: 80px;
  height: 80px;
}
#product_detail_main .productShow .picShow > ul li.active {
  border: 1px solid #ccc;
}
#product_detail_main .productShow .attrShow {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
#product_detail_main .productShow .attrShow > h3 {
  font-size: 30px;
  color: #333333;
  margin: 0 0 18px 0;
}
#product_detail_main .productShow .attrShow > p:nth-of-type(1) {
  font-size: 16px;
  color: #666666;
  margin: 0 0 22px 0;
}
#product_detail_main .productShow .attrShow > p:nth-of-type(2) {
  font-size: 36px;
  color: #25ba80;
  margin: 0 0 26px 0;
}
#product_detail_main .productShow .attrShow > ul {
  margin: 0 0 26px 0;
}
#product_detail_main .productShow .attrShow > ul > li {
  display: inline-block;
  cursor: pointer;
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 0 20px 0 0;
}
#product_detail_main .productShow .attrShow > ul > li.active {
  background: blue;
}
#product_detail_main .productShow .attrShow > button {
  width: 186px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #25ba80;
}
#product_detail_main .productDesc {
  width: 955px;
  margin: 0 auto;
  background: #fff;
}
#product_detail_main .productDesc .productDesc_header {
  height: 38px;
  line-height: 38px;
  color: #333333;
  background-color: #f5f5f5;
  border: solid 1px #e8e8e8;
  margin: 0 0 5px 0;
}
#product_detail_main .productDesc .productDesc_header li {
  cursor: default;
  width: 138px;
  text-align: center;
  float: left;
}
#product_detail_main .productDesc .productDesc_header li a {
  text-decoration: none;
}
#product_detail_main .productDesc .productDesc_header li.active {
  border-top: solid 1px #25ba80;
  border-bottom: solid 1px #fff;
  background: #fff;
  position: relative;
  top: -1px;
}
#product_detail_main .productDesc .comment {
  padding: 0 0 70px 0;
  position: relative;
}
#product_detail_main .productDesc .comment > h3 {
  font-size: 36px;
  color: #333333;
  text-align: center;
}
#product_detail_main .productDesc .comment .comment_list .oneComment {
  font-size: 16px;
  margin: 0 0 30px 0;
}
#product_detail_main .productDesc .comment .comment_list .oneComment > h4 {
  font-weight: bold;
  color: #333333;
  margin: 0 0 7px 0;
}
#product_detail_main .productDesc .comment .comment_list .oneComment > p:nth-of-type(1) {
  margin: 0 0 7px 0;
}
#product_detail_main .productDesc .comment .comment_list .oneComment > p:nth-of-type(1) img {
  width: 15px;
  height: 15px;
}
#product_detail_main .productDesc .comment .comment_list .oneComment > p:nth-of-type(2) {
  margin: 0 0 7px 0;
  color: #999999;
}
#product_detail_main .productDesc .comment .comment_list .oneComment > p:nth-of-type(2) span:nth-of-type(1) {
  margin: 0 25px 0 0;
}
#product_detail_main .productDesc .comment .comment_list .oneComment > p:nth-of-type(3) {
  margin: 0 0 7px 0;
  color: #333333;
}
#product_detail_main .productDesc .comment .comment_btn {
  width: 186px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #25ba80;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.addComment_dialog {
  width: 340px;
  height: 210px;
}
.addComment_dialog .addComment_dialog_main input {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  margin: 0 0 12px 0;
}
