/*参考 淘宝官网 样式初始化*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: STHeitiSC!important;
  font-size: 14px!important;
  font-weight: 300!important;
  color: #14181b!important;
  background-color: #fafafa!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[v-cloak] {
  display: none;
}
.topBar {
  min-width: 1366px;
  height: 56px;
  position: relative;
}
.topBar .logo {
  width: 36px;
  height: 30px;
  position: absolute;
  top: 13px;
  left: 15px;
}
.topBar .topBar_menu {
  width: 560px;
  height: 56px;
  margin: 0 auto;
}
.topBar .topBar_menu li {
  cursor: pointer;
  height: 40px;
  line-height: 56px;
  text-align: center;
  margin: 0 30px;
  float: left;
  position: relative;
}
.topBar .topBar_menu li:hover {
  color: #25ba80;
  border-bottom: 1px solid #25ba80;
}
.topBar .topBar_right {
  position: absolute;
  top: 15px;
  right: 130px;
}
.topBar .topBar_right .search {
  display: inline-block;
  position: relative;
}
.topBar .topBar_right .search input {
  width: 180px;
  height: 26px;
  border-radius: 14px;
  border: solid 1px #5a5a5a;
}
.topBar .topBar_right .user_icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 0 0 20px;
  background: url('/images/logo.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 3px;
}
.footer {
  box-sizing: border-box;
  min-width: 1366px;
  height: 480px;
  padding: 85px 0 0 130px;
  background-color: #585858;
}
.footer .subscribe,
.footer .about,
.footer .support,
.footer .contact {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.footer .subscribe > h4,
.footer .about > h4,
.footer .support > h4,
.footer .contact > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.footer .subscribe {
  width: 33%;
}
.footer .subscribe .email_submit > input {
  width: 277px;
  height: 40px;
  text-indent: 10px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
}
.footer .subscribe .email_submit > button {
  width: 78px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  border: solid 1px #989898;
  background-color: #585858;
}
.footer .about,
.footer .support {
  width: 22%;
}
.footer .about > ul li,
.footer .support > ul li {
  margin: 0 0 20px 0;
}
.footer .about > ul li span,
.footer .support > ul li span {
  cursor: pointer;
}
.footer .about > ul li span:hover,
.footer .support > ul li span:hover {
  color: #00a7e1;
}
.footer .contact {
  width: 22%;
}
.footer .contact .call,
.footer .contact .email {
  margin: 0 0 40px 0;
}
.footer .contact .call > h4,
.footer .contact .email > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
#products .carouselArea {
  min-width: 1366px;
  height: 342px;
}
#products .product_list {
  text-align: center;
  margin: 0 0 60px 0;
}
#products .product_list .category {
  padding: 0 97px;
}
#products .product_list .category .primary {
  height: 100px;
  text-align: left;
  position: relative;
}
#products .product_list .category .primary > li {
  width: 100px;
  height: 100px;
  text-align: center;
  float: left;
  margin: 0 2px 0 0;
  background: #ccc;
}
#products .product_list .category .primary > li > img {
  width: 60px;
  height: 60px;
}
#products .product_list .category .primary > li > p {
  margin: 10px 0 0 0;
}
#products .product_list .category .primary > li .secondary {
  height: 100px;
  text-align: left;
  position: absolute;
  top: 100px;
  left: 0;
}
#products .product_list .category .primary > li .secondary > li {
  width: 100px;
  height: 100px;
  text-align: center;
  float: left;
  margin: 0 2px 0 0;
  background: #ccc;
}
#products .product_list .category .primary > li .secondary > li > img {
  width: 60px;
  height: 60px;
}
#products .product_list .category .primary > li .secondary > li > p {
  margin: 10px 0 0 0;
}
#products .product_list .oneProduct {
  display: inline-block;
  width: 271px;
  height: 331px;
  margin: 0 12px 10px 0;
}
#products .product_list .oneProduct .oneProduct_img {
  width: 271px;
  height: 271px;
}
#products .product_list .oneProduct .oneProduct_img > img {
  width: 271px;
  height: 271px;
}
#products .product_list .oneProduct .oneProduct_desc {
  box-sizing: border-box;
  width: 271px;
  height: 60px;
  padding: 10px;
  background-color: #585858;
}
