/*参考 淘宝官网 样式初始化*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: STHeitiSC!important;
  font-size: 14px!important;
  font-weight: 300!important;
  color: #14181b!important;
  background-color: #fafafa!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[v-cloak] {
  display: none;
}
#topBar {
  min-width: 1366px;
  height: 56px;
  position: relative;
}
#topBar .topBar_pc .logo {
  width: 36px;
  height: 30px;
  position: absolute;
  top: 13px;
  left: 78px;
}
#topBar .topBar_pc .topBar_menu {
  width: 560px;
  height: 56px;
  margin: 0 auto;
}
#topBar .topBar_pc .topBar_menu li {
  cursor: pointer;
  height: 40px;
  line-height: 56px;
  text-align: center;
  margin: 0 30px;
  float: left;
  position: relative;
}
#topBar .topBar_pc .topBar_menu li:hover {
  color: #25ba80;
  border-bottom: 1px solid #25ba80;
}
#topBar .topBar_pc .topBar_menu li.active {
  color: #25ba80;
  border-bottom: 1px solid #25ba80;
}
#topBar .topBar_pc .topBar_right {
  position: absolute;
  top: 15px;
  right: 35px;
}
#topBar .topBar_pc .topBar_right .search {
  display: inline-block;
  position: relative;
}
#topBar .topBar_pc .topBar_right .search input {
  box-sizing: border-box;
  width: 180px;
  height: 26px;
  text-indent: 15px;
  padding: 0 30px 0 0;
  border-radius: 14px;
  border: solid 1px #5a5a5a;
  outline: none;
}
#topBar .topBar_pc .topBar_right .search .search_icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('/images/search_icon.png') no-repeat;
  background-size: 15px 15px;
  position: absolute;
  top: 5px;
  right: 8px;
}
#topBar .topBar_pc .topBar_right .user_icon {
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 0 0 20px;
  background: url('/images/user_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 3px;
}
#topBar .topBar_pc .topBar_right .user_info {
  display: inline-block;
  margin: 0 0 0 10px;
}
#topBar .topBar_pc .topBar_right .user_info > img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}
#topBar .topBar_pc .topBar_right .user_info > span {
  cursor: pointer;
  margin: 0 5px;
}
#topBar .topBar_pc .topBar_right .user_info > span:hover {
  color: #25ba80;
}
#topBar .topBar_pc .topBar_right .user_info .quit_icon {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/images/quit_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 2px;
}
#topBar .topBar_wap {
  display: none;
  position: relative;
}
#topBar .topBar_wap .nav {
  position: absolute;
  top: 0px;
  left: 15px;
  z-index: 999;
}
#topBar .topBar_wap .nav .nav_img {
  width: 40px;
  height: 40px;
}
#topBar .topBar_wap .nav .topBar_menu {
  display: none;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 0;
}
#topBar .topBar_wap .nav .topBar_menu li {
  height: 25px;
  line-height: 25px;
}
#topBar .topBar_wap .search {
  width: 180px;
  margin: 0 auto;
  position: relative;
}
#topBar .topBar_wap .search input {
  box-sizing: border-box;
  width: 180px;
  height: 26px;
  text-indent: 15px;
  padding: 0 30px 0 0;
  border-radius: 14px;
  border: solid 1px #5a5a5a;
  outline: none;
}
#topBar .topBar_wap .search .search_icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('/images/search_icon.png') no-repeat;
  background-size: 15px 15px;
  position: absolute;
  top: 5px;
  right: 8px;
}
#topBar .topBar_wap .info {
  position: absolute;
  top: 15px;
  right: 10px;
}
#topBar .topBar_wap .info .user_icon {
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  background: url('/images/user_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 2px;
}
#topBar .topBar_wap .info .quit_icon {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/images/quit_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 2px;
}
#footer {
  box-sizing: border-box;
  min-width: 1366px;
  height: 380px;
  padding: 85px 0 0 130px;
  background-color: #585858;
}
#footer .subscribe,
#footer .about,
#footer .support,
#footer .contact {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
#footer .subscribe > h4,
#footer .about > h4,
#footer .support > h4,
#footer .contact > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
#footer .subscribe {
  width: 33%;
}
#footer .subscribe .email_submit > input {
  width: 277px;
  height: 40px;
  text-indent: 10px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
}
#footer .subscribe .email_submit > button {
  width: 78px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  border: solid 1px #989898;
  background-color: #585858;
}
#footer .subscribe .link {
  margin: 40px 0 0 0;
}
#footer .subscribe .link i {
  display: inline-block;
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin: 0 10px 0 0;
}
#footer .subscribe .link .facebook_icon {
  background: url('/images/facebook_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .twitter_icon {
  background: url('/images/twitter_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .google_icon {
  background: url('/images/google_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .youtobe_icon {
  background: url('/images/youtobe_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .instagram_icon {
  background: url('/images/instagram_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .periscope_icon {
  background: url('/images/periscope_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .about,
#footer .support {
  width: 22%;
}
#footer .about > ul li,
#footer .support > ul li {
  margin: 0 0 20px 0;
}
#footer .about > ul li span,
#footer .support > ul li span {
  cursor: pointer;
}
#footer .about > ul li span:hover,
#footer .support > ul li span:hover {
  color: #00a7e1;
}
#footer .contact {
  width: 22%;
}
#footer .contact .call,
#footer .contact .email {
  margin: 0 0 40px 0;
}
#footer .contact .call > h4,
#footer .contact .email > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 414px) {
  #topBar {
    min-width: 100%;
    height: 44px;
  }
  #topBar .topBar_pc {
    display: none;
  }
  #topBar .topBar_wap {
    display: block;
  }
  #topBar .topBar_wap .search {
    top: 11px;
  }
  #footer {
    display: none;
  }
}
.el-dialog {
  padding: 15px 25px 0 25px;
  margin: 0;
}
.el-dialog__header {
  font-weight: 300!important;
  height: 40px!important;
  line-height: 40px!important;
  padding: 0!important;
}
.el-dialog__body {
  padding: 0!important;
}
.el-dialog__footer {
  height: 40px!important;
  line-height: 40px!important;
  text-align: center!important;
  padding: 0!important;
}
.el-dialog__footer button {
  width: 85px!important;
  height: 28px!important;
  font-size: 12px!important;
  border-radius: 4px!important;
  padding: 0!important;
}
.el-dialog__footer button:nth-of-type(1) {
  color: #25ba80!important;
  border: solid 1px #25ba80!important;
}
.el-dialog__footer button:nth-of-type(2) {
  color: #fff!important;
  border: none!important;
  margin: 0 0 0 5px!important;
  background: #25ba80!important;
}
.el-pager li:hover,
.el-pagination button:hover {
  color: #25ba80;
}
.el-pagination button.disabled {
  color: #e4e4e4;
}
.el-pager li.active {
  cursor: default;
  color: #fff;
  border-color: #25ba80;
  background: #25ba80;
}
.el-button {
  color: #25ba80;
  padding: 0;
}
.el-button:focus {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--default {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--default:hover {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--primary {
  color: #fff;
  border: 1px solid #25ba80;
  background: #25ba80;
}
.el-button--primary:hover,
.el-button--primary:focus {
  color: #fff;
  border: 1px solid #25ba80;
  background: #25ba80;
}
.el-loading-spinner .path {
  stroke: #25ba80;
}
.el-loading-spinner .el-loading-text {
  color: #25ba80;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
input {
  box-sizing: border-box;
}
#support_main {
  width: 1120px;
  margin: 0 auto;
}
#support_main .banner-container {
  position: relative;
  width: 100%;
  height: 449px;
}
#support_main .banner-container .img {
  width: 100%;
  height: 100%;
}
#support_main .banner-container .search {
  box-sizing: border-box;
  width: 561px;
  height: 167px;
  opacity: 0.6;
  background-color: #7d7d7d;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 24px 40px;
}
#support_main .banner-container .search .title {
  margin: 0;
  height: 35px;
  font-size: 30px;
  text-align: left;
  color: #ffffff;
}
#support_main .banner-container .search .search-tip {
  margin-top: 19px;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}
#support_main .banner-container .search .productForm {
  margin-top: 13px;
}
#support_main .banner-container .search .productForm .searchText {
  float: left;
  box-sizing: border-box;
  padding-left: 14px;
  height: 38px;
  color: #fff;
  width: 88%;
  line-height: 38px;
  background-color: rgba(2, 0, 0, 0.5);
  border: 1px solid #ffffff;
}
#support_main .banner-container .search .productForm .submit_btn {
  box-sizing: border-box;
  float: left;
  outline: 0;
  height: 38px;
  width: 12%;
  border: 1px solid #fff;
}
#support_main .banner-container .search .productForm .submit_btn .searchImg {
  width: 21px;
  heigth: 27px;
}
#support_main .service-nav {
  display: block;
  width: 1120px;
  height: 93px;
  list-style: none;
  background-color: #efefef;
}
#support_main .service-nav li {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  float: left;
  color: #5a5a5a;
  width: 50%;
  height: 93px;
}
#support_main .service-nav li .refunds-icon {
  background: url("/images/refunds_exchanges.png") no-repeat;
  background-size: 40px 40px;
}
#support_main .service-nav li .warranty-icon {
  background: url("/images/warranty.png") no-repeat;
  background-size: 40px 40px;
}
#support_main .service-nav li i {
  display: block;
  margin: 16px auto 0 auto;
  height: 40px;
  width: 40px;
}
#support_main .service-nav li p {
  height: 18px;
  margin-top: 10px;
  line-height: 18px;
  text-align: center;
}
#support_main .service-nav .active {
  background-color: #25ba80;
  cursor: pointer;
}
#support_main .service-nav .active p {
  color: #fff;
}
#support_main .service-nav .active .refunds-icon {
  background: url("/images/refunds_exchanges_1.png") no-repeat;
  background-size: 40px 40px;
}
#support_main .service-nav .active .warranty-icon {
  background: url("/images/warranty_1.png") no-repeat;
  background-size: 40px 40px;
}
#support_main .module-container .refunds {
  width: 993px;
  margin: 40px auto 10px auto;
}
#support_main .module-container .refunds .refunds-form {
  width: 993px;
}
#support_main .module-container .refunds .refunds-form .item-title {
  font-size: 18px;
  color: #333333;
  margin: 19px 0 12px 0;
}
#support_main .module-container .refunds .refunds-form .order > input,
#support_main .module-container .refunds .refunds-form .issue > input {
  width: 983px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 13px;
}
#support_main .module-container .refunds .refunds-form .order > textarea,
#support_main .module-container .refunds .refunds-form .issue > textarea {
  box-sizing: border-box;
  width: 983px;
  height: 80px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  padding: 10px;
}
#support_main .module-container .refunds .refunds-form .images .imageContainer > span {
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
#support_main .module-container .refunds .refunds-form .images .imageContainer .theImage {
  position: relative;
}
#support_main .module-container .refunds .refunds-form .images .imageContainer .theImage .close_icon {
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: url('/images/close_icon.png') no-repeat;
  background-size: 100%;
  position: absolute;
  top: -8px;
  right: -7px;
}
#support_main .module-container .refunds .refunds-form .images .imageContainer .theImage img {
  width: 80px;
  height: 80px;
}
#support_main .module-container .refunds .refunds-form .images .imageContainer .imageUpload_btn {
  cursor: pointer;
  border: 1px solid #ccc;
}
#support_main .module-container .refunds .refunds-form .images .imageContainer .imageUpload_btn .add_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('/images/add_icon.png') no-repeat;
  background-size: 100%;
  margin: 30px;
}
#support_main .module-container .refunds .refunds-form .form-footer {
  text-align: right;
  margin: 29px 0 40px 0;
}
#support_main .module-container .refunds .refunds-form .form-footer button {
  width: 100px;
  height: 35px;
  border-radius: 4px;
}
#support_main .module-container .warranty {
  margin-top: 90px;
  margin-bottom: 50px;
}
#support_main .module-container .warranty h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #3d3938;
}
#support_main .module-container .warranty .warranty-content,
#support_main .module-container .warranty .faqs-content {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #5a5a5a;
}
