/*参考 淘宝官网 样式初始化*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: STHeitiSC!important;
  font-size: 14px!important;
  font-weight: 300!important;
  color: #14181b!important;
  background-color: #fafafa!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[v-cloak] {
  display: none;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar {
=======
.topBar {
>>>>>>> Stashed changes
=======
.topBar {
>>>>>>> Stashed changes
  min-width: 1366px;
  height: 56px;
  position: relative;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar .logo {
=======
.topBar .logo {
>>>>>>> Stashed changes
=======
.topBar .logo {
>>>>>>> Stashed changes
  width: 36px;
  height: 30px;
  position: absolute;
  top: 13px;
  left: 15px;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar .topBar_menu {
=======
.topBar .topBar_menu {
>>>>>>> Stashed changes
=======
.topBar .topBar_menu {
>>>>>>> Stashed changes
  width: 560px;
  height: 56px;
  margin: 0 auto;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar .topBar_menu li {
=======
.topBar .topBar_menu li {
>>>>>>> Stashed changes
=======
.topBar .topBar_menu li {
>>>>>>> Stashed changes
  cursor: pointer;
  height: 40px;
  line-height: 56px;
  text-align: center;
  margin: 0 30px;
  float: left;
  position: relative;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar .topBar_menu li:hover {
  color: #25ba80;
  border-bottom: 1px solid #25ba80;
}
#topBar .topBar_right {
=======
=======
>>>>>>> Stashed changes
.topBar .topBar_menu li:hover {
  color: #25ba80;
  border-bottom: 1px solid #25ba80;
}
.topBar .topBar_right {
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
  position: absolute;
  top: 15px;
  right: 130px;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar .topBar_right .search {
  display: inline-block;
  position: relative;
}
#topBar .topBar_right .search input {
=======
=======
>>>>>>> Stashed changes
.topBar .topBar_right .search {
  display: inline-block;
  position: relative;
}
.topBar .topBar_right .search input {
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
  width: 180px;
  height: 26px;
  border-radius: 14px;
  border: solid 1px #5a5a5a;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar .topBar_right .user_icon {
=======
.topBar .topBar_right .user_icon {
>>>>>>> Stashed changes
=======
.topBar .topBar_right .user_icon {
>>>>>>> Stashed changes
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 0 0 20px;
  background: url('/images/logo.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 3px;
}
.footer {
  box-sizing: border-box;
  min-width: 1366px;
  height: 480px;
  padding: 85px 0 0 130px;
  background-color: #585858;
}
.footer .subscribe,
.footer .about,
.footer .support,
.footer .contact {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.footer .subscribe > h4,
.footer .about > h4,
.footer .support > h4,
.footer .contact > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.footer .subscribe {
  width: 33%;
}
.footer .subscribe .email_submit > input {
  width: 277px;
  height: 40px;
  text-indent: 10px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
}
.footer .subscribe .email_submit > button {
  width: 78px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  border: solid 1px #989898;
  background-color: #585858;
}
.footer .about,
.footer .support {
  width: 22%;
}
.footer .about > ul li,
.footer .support > ul li {
  margin: 0 0 20px 0;
}
.footer .about > ul li span,
.footer .support > ul li span {
  cursor: pointer;
}
.footer .about > ul li span:hover,
.footer .support > ul li span:hover {
  color: #00a7e1;
}
.footer .contact {
  width: 22%;
}
.footer .contact .call,
.footer .contact .email {
  margin: 0 0 40px 0;
}
.footer .contact .call > h4,
.footer .contact .email > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
input {
  box-sizing: border-box;
}
#support {
  min-width: 1366px;
  width: 100%;
  background-color: #ffffff;
  font-family: MicrosoftYaHei;
}
#support .support-content {
  width: 1120px;
  margin: 0 auto;
}
#support .support-content .banner-container {
  position: relative;
  width: 100%;
  height: 449px;
}
#support .support-content .banner-container .img {
  width: 100%;
  height: 100%;
}
#support .support-content .banner-container .search {
  box-sizing: border-box;
  width: 561px;
  height: 167px;
  opacity: 0.6;
  background-color: #7d7d7d;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 24px 40px;
}
#support .support-content .banner-container .search .title {
  margin: 0;
  height: 35px;
  font-family: MicrosoftYaHei;
  font-size: 30px;
  text-align: left;
  color: #ffffff;
}
#support .support-content .banner-container .search .search-tip {
  margin-top: 19px;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}
#support .support-content .banner-container .search .productForm {
  margin-top: 13px;
}
#support .support-content .banner-container .search .productForm .searchText {
  float: left;
  box-sizing: border-box;
  padding-left: 14px;
  height: 38px;
  width: 88%;
  line-height: 38px;
  border: 1px solid #ffffff;
}
#support .support-content .banner-container .search .productForm .submit {
  float: left;
  outline: 0;
  height: 38px;
  width: 12%;
}
#support .support-content .service-nav ul {
  display: block;
  width: 1120px;
  height: 93px;
  list-style: none;
  background-color: #efefef;
}
#support .support-content .service-nav ul li {
  display: inline-block;
  vertical-align: top;
  color: #5a5a5a;
  width: 50%;
  height: 93px;
}
#support .support-content .service-nav ul li .refunds-icon {
  background: url("../../image/download.png") 20px 20px no-repeat;
}
#support .support-content .service-nav ul li .warranty-icon {
  background: url("../../image/supportBg.jpg") 20px 20px no-repeat;
}
#support .support-content .service-nav ul li i {
  display: block;
  margin: 16px auto 0 auto;
  height: 40px;
  width: 40px;
}
#support .support-content .service-nav ul li p {
  height: 18px;
  margin-top: 10px;
  line-height: 18px;
  text-align: center;
}
#support .support-content .service-nav ul li:hover {
  background-color: #25ba80;
  cursor: pointer;
}
#support .support-content .service-nav ul li:hover p {
  color: #fff;
}
#support .support-content .service-nav ul li:hover .refunds-icon {
  background: url("../../image/download.png") 40px 40px no-repeat;
}
#support .support-content .service-nav ul li:hover .warranty-icon {
  background: url("../../image/download.png") 40px 40px no-repeat;
}
#support .support-content .service-nav ul .active {
  background-color: #25ba80;
  cursor: pointer;
}
#support .support-content .service-nav ul .active p {
  color: #fff;
}
#support .support-content .service-nav ul .active .refunds-icon {
  background: url("../../image/download.png") 40px 40px no-repeat;
}
#support .support-content .service-nav ul .active .warranty-icon {
  background: url("../../image/download.png") 40px 40px no-repeat;
}
#support .support-content .module-container .refunds {
  width: 993px;
  margin: 10px auto;
}
#support .support-content .module-container .refunds .refunds-header {
  text-align: center;
  margin-top: 111px;
  margin-bottom: 72px;
}
#support .support-content .module-container .refunds .refunds-header .logo img {
  width: 48px;
  height: 40px;
}
#support .support-content .module-container .refunds .refunds-header .header-text {
  font-size: 30px;
  text-align: center;
  color: #585858;
  margin-left: 66px;
  line-height: 48px;
}
#support .support-content .module-container .refunds .refunds-form {
  width: 993px;
}
#support .support-content .module-container .refunds .refunds-form .item-title {
  font-size: 18px;
  color: #333333;
}
#support .support-content .module-container .refunds .refunds-form .inp-normal {
  width: 983px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
#support .support-content .module-container .refunds .refunds-form .required {
  color: #ff0000;
}
#support .support-content .module-container .refunds .refunds-form .container div,
#support .support-content .module-container .refunds .refunds-form .order div,
#support .support-content .module-container .refunds .refunds-form .issue div,
#support .support-content .module-container .refunds .refunds-form .images div,
#support .support-content .module-container .refunds .refunds-form .form-footer div {
  margin-top: 19px;
}
#support .support-content .module-container .refunds .refunds-form .issue .detail {
  width: 983px;
  height: 80px;
}
#support .support-content .module-container .refunds .refunds-form .images .imageContainer {
  border: 1px solid #ccc;
  width: 80px;
  height: 80px;
}
#support .support-content .module-container .refunds .refunds-form .form-footer {
  height: 45px;
  margin-bottom: 121px;
}
#support .support-content .module-container .refunds .refunds-form .form-footer .footer-btns {
  float: right;
}
#support .support-content .module-container .refunds .refunds-form .form-footer .footer-btns .input-code {
  vertical-align: middle;
  width: 246px;
  height: 37px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#support .support-content .module-container .refunds .refunds-form .form-footer .footer-btns .code {
  vertical-align: middle;
  display: inline-block;
  width: 100px;
  height: 37px;
  border: 1px solid #ccc;
}
#support .support-content .module-container .refunds .refunds-form .form-footer .footer-btns .btn {
  vertical-align: middle;
  width: 100px;
  height: 35px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
}
#support .support-content .module-container .refunds .refunds-form .form-footer .footer-btns .submit {
  background-color: #25ba80;
}
#support .support-content .module-container .refunds .refunds-form .form-footer .footer-btns .reset {
  background-color: #999999;
}
#support .support-content .module-container .warranty h2 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  color: #3d3938;
}
#support .support-content .module-container .warranty .warranty-content,
#support .support-content .module-container .warranty .faqs-content {
  margin-top: 30px;
  color: #5a5a5a;
}
