/*参考 淘宝官网 样式初始化*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: STHeitiSC!important;
  font-size: 14px!important;
  font-weight: 300!important;
  color: #14181b!important;
  background-color: #fafafa!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[v-cloak] {
  display: none;
}
#topBar {
  min-width: 1366px;
  height: 56px;
  position: relative;
}
#topBar .logo {
  width: 36px;
  height: 30px;
  position: absolute;
  top: 13px;
  left: 78px;
}
#topBar .topBar_menu {
  width: 560px;
  height: 56px;
  margin: 0 auto;
}
#topBar .topBar_menu li {
  cursor: pointer;
  height: 40px;
  line-height: 56px;
  text-align: center;
  margin: 0 30px;
  float: left;
  position: relative;
}
#topBar .topBar_menu li:hover {
  color: #25ba80;
  border-bottom: 1px solid #25ba80;
}
#topBar .topBar_menu li.active {
  color: #25ba80;
  border-bottom: 1px solid #25ba80;
}
#topBar .topBar_right {
  position: absolute;
  top: 15px;
  right: 35px;
}
#topBar .topBar_right .search {
  display: inline-block;
  position: relative;
}
#topBar .topBar_right .search input {
  box-sizing: border-box;
  width: 180px;
  height: 26px;
  text-indent: 15px;
  padding: 0 30px 0 0;
  border-radius: 14px;
  border: solid 1px #5a5a5a;
  outline: none;
}
#topBar .topBar_right .search .search_icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('/images/search_icon.png') no-repeat;
  background-size: 15px 15px;
  position: absolute;
  top: 5px;
  right: 8px;
}
#topBar .topBar_right .user_icon {
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 0 0 20px;
  background: url('/images/user_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 3px;
}
#topBar .topBar_right .user_info {
  display: inline-block;
  margin: 0 0 0 10px;
}
#topBar .topBar_right .user_info > img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}
#topBar .topBar_right .user_info > span {
  cursor: pointer;
  margin: 0 5px;
}
#topBar .topBar_right .user_info > span:hover {
  color: #25ba80;
}
#topBar .topBar_right .user_info .quit_icon {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/images/quit_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 2px;
}
#footer {
  box-sizing: border-box;
  min-width: 1366px;
  height: 380px;
  padding: 85px 0 0 130px;
  background-color: #585858;
}
#footer .subscribe,
#footer .about,
#footer .support,
#footer .contact {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
#footer .subscribe > h4,
#footer .about > h4,
#footer .support > h4,
#footer .contact > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
#footer .subscribe {
  width: 33%;
}
#footer .subscribe .email_submit > input {
  width: 277px;
  height: 40px;
  text-indent: 10px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
}
#footer .subscribe .email_submit > button {
  width: 78px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  border: solid 1px #989898;
  background-color: #585858;
}
#footer .subscribe .link {
  margin: 40px 0 0 0;
}
#footer .subscribe .link i {
  display: inline-block;
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin: 0 10px 0 0;
}
#footer .subscribe .link .facebook_icon {
  background: url('/images/facebook_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .twitter_icon {
  background: url('/images/twitter_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .google_icon {
  background: url('/images/google_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .youtobe_icon {
  background: url('/images/youtobe_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .instagram_icon {
  background: url('/images/instagram_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .periscope_icon {
  background: url('/images/periscope_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .about,
#footer .support {
  width: 22%;
}
#footer .about > ul li,
#footer .support > ul li {
  margin: 0 0 20px 0;
}
#footer .about > ul li span,
#footer .support > ul li span {
  cursor: pointer;
}
#footer .about > ul li span:hover,
#footer .support > ul li span:hover {
  color: #00a7e1;
}
#footer .contact {
  width: 22%;
}
#footer .contact .call,
#footer .contact .email {
  margin: 0 0 40px 0;
}
#footer .contact .call > h4,
#footer .contact .email > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.el-dialog {
  padding: 15px 25px 0 25px;
  margin: 0;
}
.el-dialog__header {
  font-weight: 300!important;
  height: 40px!important;
  line-height: 40px!important;
  padding: 0!important;
}
.el-dialog__body {
  padding: 0!important;
}
.el-dialog__footer {
  height: 40px!important;
  line-height: 40px!important;
  text-align: center!important;
  padding: 0!important;
}
.el-dialog__footer button {
  width: 85px!important;
  height: 28px!important;
  font-size: 12px!important;
  border-radius: 4px!important;
  padding: 0!important;
}
.el-dialog__footer button:nth-of-type(1) {
  color: #25ba80!important;
  border: solid 1px #25ba80!important;
}
.el-dialog__footer button:nth-of-type(2) {
  color: #fff!important;
  border: none!important;
  margin: 0 0 0 5px!important;
  background: #25ba80!important;
}
.el-pager li:hover,
.el-pagination button:hover {
  color: #25ba80;
}
.el-pagination button.disabled {
  color: #e4e4e4;
}
.el-pager li.active {
  cursor: default;
  color: #fff;
  border-color: #25ba80;
  background: #25ba80;
}
.el-button {
  color: #25ba80;
  padding: 0;
}
.el-button:focus {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--default {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--default:hover {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--primary {
  color: #fff;
  border: 1px solid #25ba80;
  background: #25ba80;
}
.el-button--primary:hover,
.el-button--primary:focus {
  color: #fff;
  border: 1px solid #25ba80;
  background: #25ba80;
}
.el-loading-spinner .path {
  stroke: #25ba80;
}
.el-loading-spinner .el-loading-text {
  color: #25ba80;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
#user_main {
  min-width: 1000px;
  width: 1366px;
  background-color: #ffffff;
  margin: 0 auto;
}
#user_main .user-overview {
  width: 1120px;
  height: 126px;
  margin: 0 auto;
  background-color: #f8f8f8;
}
#user_main .user-overview .overview-item1 {
  position: relative;
  display: inline-block;
  float: left;
  margin: 13px 30px 13px 77px;
}
#user_main .user-overview .overview-item1 img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 0px solid transparent;
}
#user_main .user-overview .overview-item2 {
  display: inline-block;
  box-sizing: border-box;
  height: 126px;
  padding-top: 34px;
  padding-left: 0;
  margin: 0;
  float: left;
}
#user_main .user-overview .overview-item2 .overview-email {
  color: #5a5a5a;
  font-size: 16px;
  margin-bottom: 5px;
}
#user_main .user-overview .overview-item2 .photo-btn {
  cursor: pointer;
  font-size: 14px;
  color: #5a5a5a;
}
#user_main .user-form {
  width: 1120px;
  margin: 0 auto;
}
#user_main .user-form > p {
  margin-top: 20px;
}
#user_main .user-form .userName input {
  width: 100%;
}
#user_main .user-form .phoneNum input {
  width: 100%;
}
#user_main .user-form .userEmail {
  height: 56px;
  border-radius: 4px;
  background-color: #f8f8f8;
  border: solid 1px #cccccc;
  padding-left: 10px;
}
#user_main .user-form .userEmail span {
  display: block;
}
#user_main .user-form .userEmail span:nth-of-type(1) {
  height: 13px;
  font-size: 14px;
  line-height: 1.07;
  text-align: left;
  color: #999999;
  margin-top: 11px;
}
#user_main .user-form .userEmail span:nth-of-type(2) {
  height: 15px;
  font-size: 14px;
  line-height: 1.07;
  text-align: left;
  color: #666666;
  margin-top: 8px;
}
#user_main .user-form .area input {
  margin-right: 50px;
}
#user_main .user-form .area input:nth-of-type(1),
#user_main .user-form .area input:nth-of-type(2) {
  width: 280px;
}
#user_main .user-form .area input:nth-of-type(3),
#user_main .user-form .area input:nth-of-type(4) {
  width: 169px;
}
#user_main .user-form .form-footer {
  height: 40px;
  text-align: right;
  margin-bottom: 10px;
}
#user_main .user-form .form-footer button {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #25ba80;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
#user_main .user-form input {
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  border: solid 1px #cccccc;
  border-radius: 4px;
}
