[v-cloak] {
  display: none;
}
#topBar {
  min-width: 1366px;
  height: 56px;
  position: relative;
}
#topBar .logo {
  width: 36px;
  height: 30px;
  position: absolute;
  top: 13px;
  left: 15px;
}
#topBar .topBar_menu {
  width: 560px;
  height: 56px;
  margin: 0 auto;
}
#topBar .topBar_menu li {
  cursor: pointer;
  height: 40px;
  line-height: 56px;
  text-align: center;
  margin: 0 30px;
  float: left;
  position: relative;
}
#topBar .topBar_menu li:hover {
  color: #25ba80;
  border-bottom: 1px solid #25ba80;
}
#topBar .topBar_right {
  position: absolute;
  top: 15px;
  right: 35px;
}
#topBar .topBar_right .search {
  display: inline-block;
  position: relative;
}
#topBar .topBar_right .search input {
  box-sizing: border-box;
  width: 180px;
  height: 26px;
  text-indent: 15px;
  padding: 0 30px 0 0;
  border-radius: 14px;
  border: solid 1px #5a5a5a;
  outline: none;
}
#topBar .topBar_right .search .search_icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('/images/search_icon.png') no-repeat;
  background-size: 15px 15px;
  position: absolute;
  top: 5px;
  right: 8px;
}
#topBar .topBar_right .user_icon {
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 0 0 20px;
  background: url('/images/user_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 3px;
}
#topBar .topBar_right .user_info {
  display: inline-block;
  margin: 0 0 0 10px;
}
#topBar .topBar_right .user_info > img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}
#topBar .topBar_right .user_info > span {
  cursor: pointer;
}
#topBar .topBar_right .user_info > span:nth-of-type(1) {
  margin: 0 5px;
}
#footer {
  box-sizing: border-box;
  min-width: 1366px;
  height: 380px;
  padding: 85px 0 0 130px;
  background-color: #585858;
}
#footer .subscribe,
#footer .about,
#footer .support,
#footer .contact {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
#footer .subscribe > h4,
#footer .about > h4,
#footer .support > h4,
#footer .contact > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
#footer .subscribe {
  width: 33%;
}
#footer .subscribe .email_submit > input {
  width: 277px;
  height: 40px;
  text-indent: 10px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
}
#footer .subscribe .email_submit > button {
  width: 78px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  border: solid 1px #989898;
  background-color: #585858;
}
#footer .subscribe .link {
  margin: 40px 0 0 0;
}
#footer .subscribe .link i {
  display: inline-block;
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin: 0 10px 0 0;
}
#footer .subscribe .link .facebook_icon {
  background: url('/images/facebook_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .twitter_icon {
  background: url('/images/twitter_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .google_icon {
  background: url('/images/google_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .youtobe_icon {
  background: url('/images/youtobe_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .instagram_icon {
  background: url('/images/instagram_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .subscribe .link .periscope_icon {
  background: url('/images/periscope_icon.png') no-repeat;
  background-size: 36px 36px;
}
#footer .about,
#footer .support {
  width: 22%;
}
#footer .about > ul li,
#footer .support > ul li {
  margin: 0 0 20px 0;
}
#footer .about > ul li span,
#footer .support > ul li span {
  cursor: pointer;
}
#footer .about > ul li span:hover,
#footer .support > ul li span:hover {
  color: #00a7e1;
}
#footer .contact {
  width: 22%;
}
#footer .contact .call,
#footer .contact .email {
  margin: 0 0 40px 0;
}
#footer .contact .call > h4,
#footer .contact .email > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.el-dialog {
  padding: 15px 25px 0 25px;
  margin: 0;
}
.el-dialog__header {
  font-weight: 300!important;
  height: 40px!important;
  line-height: 40px!important;
  padding: 0!important;
}
.el-dialog__body {
  padding: 0!important;
}
.el-dialog__footer {
  height: 40px!important;
  line-height: 40px!important;
  text-align: center!important;
  padding: 0!important;
}
.el-dialog__footer button {
  width: 85px!important;
  height: 28px!important;
  font-size: 12px!important;
  border-radius: 4px!important;
  padding: 0!important;
}
.el-dialog__footer button:nth-of-type(1) {
  color: #25ba80!important;
  border: solid 1px #25ba80!important;
}
.el-dialog__footer button:nth-of-type(2) {
  color: #fff!important;
  border: none!important;
  margin: 0 0 0 5px!important;
  background: #25ba80!important;
}
.el-pager li:hover,
.el-pagination button:hover {
  color: #25ba80;
}
.el-pagination button.disabled {
  color: #e4e4e4;
}
.el-pager li.active {
  cursor: default;
  color: #fff;
  border-color: #25ba80;
  background: #25ba80;
}
.el-button {
  color: #25ba80;
  padding: 0;
}
.el-button:focus {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--default {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--default:hover {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--primary {
  color: #fff;
  border: 1px solid #25ba80;
  background: #25ba80;
}
.el-button--primary:hover,
.el-button--primaryfocus {
  color: #fff;
  border: 1px solid #25ba80;
  background: #25ba80;
}
.el-loading-spinner .path {
  stroke: #25ba80;
}
.el-loading-spinner .el-loading-text {
  color: #25ba80;
}
