[v-cloak] {
  display: none;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar {
=======
.topBar {
>>>>>>> Stashed changes
=======
.topBar {
>>>>>>> Stashed changes
  min-width: 1366px;
  height: 56px;
  position: relative;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar .logo {
=======
.topBar .logo {
>>>>>>> Stashed changes
=======
.topBar .logo {
>>>>>>> Stashed changes
  width: 36px;
  height: 30px;
  position: absolute;
  top: 13px;
  left: 15px;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar .topBar_menu {
=======
.topBar .topBar_menu {
>>>>>>> Stashed changes
=======
.topBar .topBar_menu {
>>>>>>> Stashed changes
  width: 560px;
  height: 56px;
  margin: 0 auto;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar .topBar_menu li {
=======
.topBar .topBar_menu li {
>>>>>>> Stashed changes
=======
.topBar .topBar_menu li {
>>>>>>> Stashed changes
  cursor: pointer;
  height: 40px;
  line-height: 56px;
  text-align: center;
  margin: 0 30px;
  float: left;
  position: relative;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar .topBar_menu li:hover {
  color: #25ba80;
  border-bottom: 1px solid #25ba80;
}
#topBar .topBar_right {
=======
=======
>>>>>>> Stashed changes
.topBar .topBar_menu li:hover {
  color: #25ba80;
  border-bottom: 1px solid #25ba80;
}
.topBar .topBar_right {
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
  position: absolute;
  top: 15px;
  right: 130px;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar .topBar_right .search {
  display: inline-block;
  position: relative;
}
#topBar .topBar_right .search input {
=======
=======
>>>>>>> Stashed changes
.topBar .topBar_right .search {
  display: inline-block;
  position: relative;
}
.topBar .topBar_right .search input {
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
  width: 180px;
  height: 26px;
  border-radius: 14px;
  border: solid 1px #5a5a5a;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
#topBar .topBar_right .user_icon {
=======
.topBar .topBar_right .user_icon {
>>>>>>> Stashed changes
=======
.topBar .topBar_right .user_icon {
>>>>>>> Stashed changes
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 0 0 20px;
  background: url('/images/logo.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 3px;
}
.footer {
  box-sizing: border-box;
  min-width: 1366px;
  height: 480px;
  padding: 85px 0 0 130px;
  background-color: #585858;
}
.footer .subscribe,
.footer .about,
.footer .support,
.footer .contact {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.footer .subscribe > h4,
.footer .about > h4,
.footer .support > h4,
.footer .contact > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.footer .subscribe {
  width: 33%;
}
.footer .subscribe .email_submit > input {
  width: 277px;
  height: 40px;
  text-indent: 10px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
}
.footer .subscribe .email_submit > button {
  width: 78px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  border: solid 1px #989898;
  background-color: #585858;
}
.footer .about,
.footer .support {
  width: 22%;
}
.footer .about > ul li,
.footer .support > ul li {
  margin: 0 0 20px 0;
}
.footer .about > ul li span,
.footer .support > ul li span {
  cursor: pointer;
}
.footer .about > ul li span:hover,
.footer .support > ul li span:hover {
  color: #00a7e1;
}
.footer .contact {
  width: 22%;
}
.footer .contact .call,
.footer .contact .email {
  margin: 0 0 40px 0;
}
.footer .contact .call > h4,
.footer .contact .email > h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
