@import "../common/reset";
@import "../common/common";

#carousel_main{
  min-width:1146px;
 // height:600px;
  position:absolute;
  top:56px;
  left:220px;
  bottom:0;
  right: 0;
  background-color: #f1f1f1;
  font-size:14px;
  .clearfix:after{
    content: ".";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
  }


  .el-dialog{
     width: 560px;
     border-radius: 20px;
     input{
       width: 500px;
       height:40px;
       line-height: 40px;
       text-align: left;
       font-size:18px;
       color:#5a5a5a;
       padding-left: 10px;
     }
     p{
       background: url("/images/nopic.png") no-repeat;
       background-size: 256px 146px;
       width: 258px;
       height: 146px;
       margin-left: 136px;
       margin-top: 10px;
       >img{
         width:100%;
         height:100%;
       }
     }
    .dialog-footer{
      text-align: center;
      margin-bottom:30px;
      button{
        width:100px;
        height:32px;
      }
      .el-button--default{
        color: #25ba80;
        border:1px solid #25ba80;
      }
      .el-button--primary{
        color: #fff;
        background-color:#25ba80;
      }

    }
  }

}