@import "../common/reset";
@import "../common/common";


#moduleMana_main{
  min-width:1146px;
  //height:600px;
  position:absolute;
  top:56px;
  left:220px;
  bottom:0;
  right: 0;
  background-color: #f1f1f1;
  font-size:14px;
  .head{
    .tab_ul{
      height:32px;
      margin:20px 0 20px 40px;
      li{
        cursor:default;
        height: 30px;
        line-height:30px;
        text-align:center;
        padding:0 20px;
        background-color: #ffffff;
        //border-top: solid 1px #cccccc;
        //border-bottom: solid 1px #cccccc;
        float:left;
        &:nth-of-type(1){
          border-top: solid 1px #cccccc;
          border-bottom: solid 1px #cccccc;
          border-left: solid 1px #cccccc;
        }
        &:nth-of-type(2){
          border: solid 1px #cccccc;
        }
        &:nth-of-type(3){
          border-top: solid 1px #cccccc;
          border-bottom: solid 1px #cccccc;
          border-right: solid 1px #cccccc;
        }
      }
      li.active{
        color: #25ba80;
        border: solid 1px #25ba80;
      }
    }
    button{
      width:60px;
      height:28px;
      position:absolute;
      top:22px;
      right:88px;
    }
  }
  .product_table{
    width: 98%;
    height: 670px;
    border-radius: 4px;
    background:#F1F1F1;
    margin:0 auto;
    .product_thead,.product_tbody{
      >p{
        background:#fff;
        >span{
          display:inline-block;
          text-indent:10px;
          vertical-align: top;
          &:nth-of-type(1){
            width:80px;
            margin:0 0 0 50px;
          }
          &:nth-of-type(2){
            width:270px;
          }
          &:nth-of-type(3){
            width:260px;
          }
          &:nth-of-type(4){
            width:169px;
          }
          &:nth-of-type(5){
            width:110px;
          }
          &:nth-of-type(6){
            width:190px;
          }
        }
      }
    }
    .product_thead{
      height:40px;
      line-height:40px;
      margin:0 0 4px 0;
    }
    .product_tbody{
      color: #2c3347;
      >p{
        height:50px;
        line-height:50px;
        margin:0 0 4px 0;
        position:relative;
        >span{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      button{
        height: 25px;
        padding:0 5px;
        &:not(:nth-of-type(1)){
          margin:0 0 0 2px;
        }
      }
    }
  }
  .add_dialog{
    width:340px;
    height:155px;
    .add_dialog_main{
      input{
        height: 32px;
        line-height:32px;
        font-size:12px;
        margin:0 0 12px 0;
      }
    }
  }
}