@import "../common/reset";
@import "../common/common";

#home_main{
  min-width:1050px;
  .carouselArea{
    width: 100%;
    padding-top: percentage(43/96);
    margin-bottom:42px;
    overflow:hidden;
    position:relative;
    .el-carousel{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      img{
        width:100%;
      }
    }
  }
  .product_nav{
    width:100%;
    margin:0 auto 40px auto;
    overflow:hidden;
    .oneProduct_nav{
      width: 25%;
      text-align:center;
      padding-top:25%;
      margin:0 10px;
      float:left;
      overflow:hidden;
      position:relative;
      >img{
        width: 100%;
        height: 100%;
        transition:2s;
        -moz-transition:2s; /* Firefox 4 */
        -webkit-transition:2s; /* Safari and Chrome */
        -o-transition:2s; /* Opera */
        position:absolute;
        top:0;
        left:0;
      }
      &:hover{
        >img{
          transform: scale(1.3);
        }
      }
    }
  }
  .product_sell,.product_recom{
    text-align:center;
    margin:0 0 40px 0;
    >h3{
      height:35px;
      line-height:35px;
      font-size: 20px;
      text-align:center;
      color: #585858;
      margin:0 0 20px 0;
    }
    .oneProduct{
      display:inline-block;
      width:271px;
      height:331px;
      margin:0 12px;
      &:hover{
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        box-shadow: 0 4px 30px rgba(0,0,0,.15)
      }
      .oneProduct_img{
        width:100%;
        height:82%;
        >img{
          width:100%;
          height:100%;
        }
      }
      .oneProduct_desc{
        box-sizing:border-box;
        width:100%;
        height:18%;
        text-align:center;
        padding:10px 0 0 0;
        background-color: #E8E8E8;
      }
    }
  }
  .product_recommend{
    margin:0 0 60px 0;
  }
}

//响应式布局
@media screen and (max-width: 414px) {
  #home_main{
    //.carouselArea {
    //  height: 150px;
    //  img{
    //    width:100%;
    //  }
    //}
    .product_nav{
      width:100%;
      .oneProduct_nav{
        width:100%;
        height:175px;
        margin-bottom:10px;
        .oneProduct_nav_img,.oneProduct_nav_desc{
          width:175px;
          height:175px;
        }
        .oneProduct_nav_img{
          box-shadow:none;
        }
      }
    }
    .product_sell,.product_recom{
      text-align:left;
      .oneProduct {
        display: inline-block;
        width: 185px;
        height: 230px;
        margin: 0 2px 5px 0;
      }
    }
  }
}