@import "../common/reset";
@import "../common/common";

#home_main{
  .carouselArea{
    min-width: 100%;
    height: 342px;
    overflow:hidden;
  }
  .product_nav{
    width:1120px;
    margin:0 auto 40px auto;
    .oneProduct_nav{
      display:inline-block;
      width:560px;
      height:280px;
      .oneProduct_nav_img,.oneProduct_nav_desc{
        box-sizing:border-box;
        width: 280px;
        height: 280px;
        overflow:hidden;
        float:left;
        position:relative;
      }
      .oneProduct_nav_img{
        box-shadow:0 4px 30px rgba(0, 0, 0, 0.15);
        >img{
          width: 100%;
          height: 100%;
          transition:2s;
          -moz-transition:2s; /* Firefox 4 */
          -webkit-transition:2s; /* Safari and Chrome */
          -o-transition:2s; /* Opera */
        }
        &:hover{
          >img{
            transform: scale(1.3);
          }
        }
      }
      .oneProduct_nav_desc{
        >h4{
          width:100%;
          font-size: 18px;
          text-align:center;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          position:absolute;
          top:50%;
          //left:50%;
        }
      }
    }
  }
  .product_sell,.product_recom{
    text-align:center;
    margin:0 0 40px 0;
    >h3{
      height:35px;
      line-height:35px;
      font-size: 20px;
      text-align:center;
      color: #585858;
      margin:0 0 20px 0;
    }
    .oneProduct{
      display:inline-block;
      width:271px;
      height:331px;
      margin:0 12px;
      &:hover{
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        box-shadow: 0 4px 30px rgba(0,0,0,.15)
      }
      .oneProduct_img{
        width:100%;
        height:82%;
        >img{
          width:100%;
          height:100%;
        }
      }
      .oneProduct_desc{
        box-sizing:border-box;
        width:100%;
        height:18%;
        text-align:center;
        padding:10px 0 0 0;
        background-color: #E8E8E8;
      }
    }
  }
  .product_recommend{
    margin:0 0 60px 0;
  }
}

//响应式布局
@media screen and (max-width: 414px) {
  #home_main{
    .carouselArea {
      height: 150px;
    }
    .product_nav{
      width:100%;
      .oneProduct_nav{
        width:100%;
        height:175px;
        margin-bottom:10px;
        .oneProduct_nav_img,.oneProduct_nav_desc{
          width:175px;
          height:175px;
        }
        .oneProduct_nav_img{
          box-shadow:none;
        }
      }
    }
    .product_sell,.product_recom{
      text-align:left;
      .oneProduct {
        display: inline-block;
        width: 185px;
        height: 230px;
        margin: 0 2px 5px 0;
      }
    }
  }
}