@import "../common/reset";
@import "../common/common";

#product_main{
  min-width:1050px;
  .carouselArea{
    width: 100%;
    padding-top: percentage(43/96);
    margin-bottom:42px;
    overflow:hidden;
    position:relative;
    .el-carousel{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      img{
        width:100%;
      }
    }
  }
  .product_list{
    color:#5a5a5a;
    text-align:center;
    margin:0 0 60px 0;
    .category{
      font-size:18px;
      padding:0 97px;
      margin:0 0 48px 0;
      background:#E8E8E8;
      .primary{
        height:35px;
        text-align:left;
        position:relative;
        >li{
          cursor:pointer;
          width:136px;
          height:33px;
          line-height:35px;
          text-align:center;
          border-top:2px solid #E8E8E8;
          border-right:0.5px solid #fafafa;
          float:left;
          .secondary{
            display:none;
            height:40px;
            text-align:left;
            position:absolute;
            top:35px;
            left:0;
            >li{
              height:20px;
              line-height:20px;
              text-align:center;
              padding:0 5px;
              margin:10px 10px;
              float:left;
              &:hover{
                color:#fff;
                border-radius: 12px;
                background-color: #25ba80;
              }
            }
          }
        }
      }
    }
    .theProduct{
      .oneProduct{
        display:inline-block;
        width:271px;
        height:331px;
        vertical-align: top;
        margin:0 12px 10px 0;
        &:hover{
          -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          box-shadow: 0 4px 30px rgba(0,0,0,.15)
        }
        .oneProduct_img{
          width:100%;
          height:82%;
          >img{
            width:100%;
            height:100%;
          }
        }
        .oneProduct_desc{
          box-sizing:border-box;
          width:100%;
          height:18%;
          text-align:center;
          padding:10px 0 0 0;
          background-color: #fff;
        }
      }
    }
  }
}

//响应式布局
@media screen and (max-width: 414px) {
  #product_main{
    min-width: auto;
    .product_list{
      text-align:left;
      .category{
        font-size:16px;
        padding: 0;
        .primary{
          height:30px;
          >li{
            width:50px;
            height:28px;
            line-height:28px;
            .secondary{
              height:35px;
              >li{
                height:15px;
                line-height:15px;
                margin: 5px 0;
              }
            }
          }
        }
      }
      .theProduct {
        .oneProduct {
          width: 185px;
          height: auto;
          margin: 0 2px 5px 0;
          .oneProduct_img{
            height:184px;
          }
          .oneProduct_desc{
            height:auto;
            padding: 5px 0;
          }
        }
      }
    }
  }
}