/*参考 淘宝官网 样式初始化*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: STHeitiSC!important;
  font-size: 14px!important;
  font-weight: 300!important;
  color: #14181b!important;
  background-color: #fafafa!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[v-cloak] {
  display: none;
}
#topBar {
  min-width: 1366px;
  height: 56px;
  position: relative;
}
#topBar .logo {
  width: 36px;
  height: 30px;
  position: absolute;
  top: 13px;
  left: 15px;
}
#topBar .topBar_right {
  position: absolute;
  top: 15px;
  right: 130px;
}
#topBar .topBar_right .user_icon {
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 0 0 20px;
  background: url('/images/quit_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 3px;
}
#sideBar {
  width: 180px;
  height: 600px;
  padding: 10px 20px;
  background-color: #222222;
  position: absolute;
  top: 56px;
  left: 0;
}
#sideBar > li {
  cursor: default;
  height: 50px;
  line-height: 50px;
  color: #95a0aa;
  text-align: center;
  position: relative;
}
#sideBar > li:not(:last-child) {
  margin: 0 0 10px 0;
}
#sideBar > li span {
  font-size: 16px;
}
#sideBar > li.active {
  color: #ceb887;
  font-weight: 500;
}
#sideBar .areaGraph_icon,
#sideBar .cog_icon,
#sideBar .tables_icon,
#sideBar .email_icon,
#sideBar .pencil_icon,
#sideBar .location_icon,
#sideBar .monitor_icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  left: 8px;
}
#sideBar .areaGraph_icon {
  background: url('/images/areaGraph_icon.png') no-repeat;
  background-size: 18px 18px;
}
#sideBar .cog_icon {
  background: url('/images/cog_icon.png') no-repeat;
  background-size: 18px 18px;
}
#sideBar .tables_icon {
  background: url('/images/tables_icon.png') no-repeat;
  background-size: 18px 18px;
}
#sideBar .email_icon {
  background: url('/images/email_icon.png') no-repeat;
  background-size: 18px 18px;
}
#sideBar .pencil_icon {
  background: url('/images/pencil_icon.png') no-repeat;
  background-size: 18px 18px;
}
#sideBar .location_icon {
  background: url('/images/location_icon.png') no-repeat;
  background-size: 18px 18px;
}
#sideBar .monitor_icon {
  background: url('/images/monitor_icon.png') no-repeat;
  background-size: 18px 18px;
}
.ali {
  display: inline-block;
  width: 25px;
  height: 17px;
  background: url('/images/ali.jpg') no-repeat;
  position: absolute;
  top: 31px;
  left: 0;
}
/*弹出框 强改样式*/
.el-dialog {
  padding: 15px 25px 0 25px;
  margin: 0;
}
.el-dialog__header {
  font-weight: 300!important;
  height: 40px!important;
  line-height: 40px!important;
  padding: 0!important;
}
.el-dialog__body {
  padding: 0!important;
}
.el-dialog__footer {
  height: 40px!important;
  line-height: 40px!important;
  text-align: center!important;
  padding: 0!important;
}
.el-dialog__footer button {
  width: 85px!important;
  height: 28px!important;
  font-size: 12px!important;
  border-radius: 4px!important;
  padding: 0!important;
}
.el-dialog__footer button:nth-of-type(1) {
  color: #25ba80!important;
  border: solid 1px #25ba80!important;
}
.el-dialog__footer button:nth-of-type(2) {
  color: #fff!important;
  border: none!important;
  margin: 0 0 0 5px!important;
  background: #25ba80!important;
}
/*树 强改样式*/
.el-tree {
  border: none!important;
}
.el-tree-node__content:hover {
  background: #e9f6ff!important;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: #E9F6FF!important;
}
.el-pager li:hover,
.el-pagination button:hover {
  color: #25ba80;
}
.el-pagination button.disabled {
  color: #e4e4e4;
}
.el-pager li.active {
  cursor: default;
  color: #fff;
  border-color: #25ba80;
  background: #25ba80;
}
/**
  product menu
 */
.product_menu {
  height: 90px;
  background-color: #f1f1f1;
}
.product_menu .tab {
  float: left;
  margin-left: 40px;
  margin-top: 30px;
  height: 40px;
}
.product_menu .tab .tab_item {
  float: left;
  width: 128px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
}
.product_menu .tab .active_item {
  border: 1px solid #25ba80;
  color: #25ba80;
}
.product_menu .btn_group {
  float: right;
  height: 40px;
  margin-top: 38px;
}
.product_menu .btn_group .btn {
  width: 60px;
  height: 32px;
  border-radius: 4px;
  background-color: #25ba80;
  margin-right: 88px;
  color: #fff;
  border: none;
}
/**
  product table
 */
.product_table {
  background-color: #f1f1f1;
}
.product_table .thead {
  height: 40px;
  background-color: #ffffff;
  color: #666666;
}
.product_table .thead > span {
  display: inline-block;
  float: left;
  width: 25%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.product_table .tbody > p {
  height: 80px;
  background-color: #fff;
  margin-top: 6px;
}
.product_table .tbody > p > span.field {
  display: inline-block;
  float: left;
  width: 25%;
  height: 80px;
  text-align: center;
}
.product_table .tbody > p > span:nth-of-type(1) {
  line-height: 80px;
}
.product_table .tbody > p > span:nth-of-type(2) {
  line-height: 80px;
}
.product_table .tbody > p > span:nth-of-type(2) input {
  width: 200px;
  height: 36px;
  margin: 22px auto;
  text-align: center;
  border: 1px solid #25ba80;
}
.product_table .tbody > p > span:nth-of-type(3) .img_wrapper {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  margin: 10px auto;
}
.product_table .tbody > p > span:nth-of-type(3) .img_wrapper > img {
  width: 100%;
  height: 100%;
}
.product_table .tbody > p > span:nth-of-type(3) .img_wrapper > span.mask {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(51, 51, 51, 0.7);
}
.product_table .tbody > p > span:nth-of-type(3) .img_wrapper > span.mask img {
  width: 28px;
  height: 28px;
  margin: 15px;
}
.product_table .tbody > p span:nth-of-type(4) {
  line-height: 80px;
}
.product_table .tbody > p span:nth-of-type(4) .btn {
  padding: 9px 15px;
  border: 1px solid #25ba80;
  color: #25ba80;
  border-radius: 4px;
}
.product_table .tbody > p span:nth-of-type(4) .btn:hover {
  color: #5a5a5a;
  border: 1px solid #5a5a5a;
}
#commentMana_main {
  min-width: 1146px;
  position: absolute;
  top: 56px;
  left: 220px;
  bottom: 0;
  right: 0;
  background-color: #f1f1f1;
  font-size: 14px;
}
#commentMana_main .clearfix:after {
  clear: both;
  content: ',';
  display: block;
  height: 0;
  visibility: hidden;
}
#commentMana_main div.comment_table > div.thead {
  margin-top: 6px;
}
#commentMana_main div.comment_table > div.thead > span {
  float: left;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ffffff;
}
#commentMana_main div.comment_table > div.thead > span:nth-of-type(1),
#commentMana_main div.comment_table > div.thead > span:nth-of-type(2),
#commentMana_main div.comment_table > div.thead > span:nth-of-type(3),
#commentMana_main div.comment_table > div.thead > span:nth-of-type(6) {
  width: 15%;
}
#commentMana_main div.comment_table > div.thead > span:nth-of-type(4),
#commentMana_main div.comment_table > div.thead > span:nth-of-type(5) {
  width: 20%;
}
#commentMana_main div.comment_table > div.tbody p {
  margin-top: 6px;
}
#commentMana_main div.comment_table > div.tbody p > span {
  display: inline-block;
  float: left;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #ffffff;
}
#commentMana_main div.comment_table > div.tbody p > span:nth-of-type(1),
#commentMana_main div.comment_table > div.tbody p > span:nth-of-type(2),
#commentMana_main div.comment_table > div.tbody p > span:nth-of-type(3),
#commentMana_main div.comment_table > div.tbody p > span.state {
  width: 15%;
}
#commentMana_main div.comment_table > div.tbody p > span:nth-of-type(4),
#commentMana_main div.comment_table > div.tbody p > span:nth-of-type(5) {
  width: 20%;
}
#commentMana_main div.comment_table > div.tbody p > span:nth-of-type(4) p.starWrapper {
  margin: 31px auto;
}
#commentMana_main div.comment_table > div.tbody p > span:nth-of-type(4) p.starWrapper > img {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}
#commentMana_main div.comment_table > div.tbody p > span:nth-of-type(4) p.starWrapper > img:first-child {
  margin-left: 0;
}
#commentMana_main div.comment_table > div.tbody p > span.state i {
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 28px auto;
}
#commentMana_main div.comment_table > div.tbody p > span.state i.on {
  background: url('/images/on.png') no-repeat;
  background-size: 40px 24px;
}
#commentMana_main div.comment_table > div.tbody p > span.state i.off {
  background: url('/images/off.png') no-repeat;
  background-size: 40px 24px;
}
