/*参考 淘宝官网 样式初始化*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: STHeitiSC!important;
  font-size: 14px!important;
  font-weight: 300!important;
  color: #14181b!important;
  background-color: #fafafa!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[v-cloak] {
  display: none;
}
#topBar {
  min-width: 1366px;
  height: 56px;
  position: relative;
}
#topBar .logo {
  width: 36px;
  height: 30px;
  position: absolute;
  top: 13px;
  left: 15px;
}
#topBar .topBar_right {
  position: absolute;
  top: 15px;
  right: 130px;
}
#topBar .topBar_right .user_icon {
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 0 0 20px;
  background: url('/images/quit_icon.png') no-repeat;
  background-size: 16px 16px;
  position: relative;
  top: 3px;
}
#sideBar {
  width: 190px;
  height: 700px;
  padding: 10px 10px;
  background-color: #222222;
  position: absolute;
  top: 56px;
  left: 0;
}
#sideBar > li {
  cursor: default;
  height: 50px;
  line-height: 50px;
  color: #95a0aa;
  text-align: center;
  position: relative;
}
#sideBar > li:not(:last-child) {
  margin: 0 0 10px 0;
}
#sideBar > li span {
  font-size: 16px;
}
#sideBar > li.active {
  color: #fff;
  font-weight: 500;
  background-color: #18181c;
}
#sideBar .areaGraph_icon,
#sideBar .cog_icon,
#sideBar .tables_icon,
#sideBar .email_icon,
#sideBar .pencil_icon,
#sideBar .location_icon,
#sideBar .monitor_icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  left: 8px;
}
#sideBar .areaGraph_icon {
  background: url('/images/areaGraph_icon.png') no-repeat;
  background-size: 18px 18px;
}
#sideBar .cog_icon {
  background: url('/images/cog_icon.png') no-repeat;
  background-size: 18px 18px;
}
#sideBar .tables_icon {
  background: url('/images/tables_icon.png') no-repeat;
  background-size: 18px 18px;
}
#sideBar .email_icon {
  background: url('/images/email_icon.png') no-repeat;
  background-size: 18px 18px;
}
#sideBar .pencil_icon {
  background: url('/images/pencil_icon.png') no-repeat;
  background-size: 18px 18px;
}
#sideBar .location_icon {
  background: url('/images/location_icon.png') no-repeat;
  background-size: 18px 18px;
}
#sideBar .monitor_icon {
  background: url('/images/monitor_icon.png') no-repeat;
  background-size: 18px 18px;
}
.ali {
  display: inline-block;
  width: 25px;
  height: 17px;
  background: url('/images/ali.jpg') no-repeat;
  position: absolute;
  top: 31px;
  left: 0;
}
/**
  product menu
 */
.product_menu {
  height: 90px;
  background-color: #f1f1f1;
}
.product_menu .tab {
  float: left;
  margin-left: 40px;
  margin-top: 30px;
  height: 40px;
}
.product_menu .tab .tab_item {
  float: left;
  width: 128px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
}
.product_menu .tab .active_item {
  border: 1px solid #25ba80;
  color: #25ba80;
}
.product_menu .btn_group {
  float: right;
  height: 40px;
  margin-top: 38px;
}
.product_menu .btn_group .btn {
  width: 60px;
  height: 32px;
  border-radius: 4px;
  background-color: #25ba80;
  margin-right: 88px;
  color: #fff;
  border: none;
}
/**
  product table
 */
.product_table {
  background-color: #f1f1f1;
}
.product_table .thead {
  height: 40px;
  background-color: #ffffff;
  color: #666666;
}
.product_table .thead > span {
  display: inline-block;
  float: left;
  width: 25%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.product_table .tbody > p {
  height: 80px;
  background-color: #fff;
  margin-top: 6px;
}
.product_table .tbody > p > span.field {
  display: inline-block;
  float: left;
  width: 25%;
  height: 80px;
  text-align: center;
}
.product_table .tbody > p > span:nth-of-type(1) {
  line-height: 80px;
}
.product_table .tbody > p > span:nth-of-type(2) {
  line-height: 80px;
}
.product_table .tbody > p > span:nth-of-type(2) input {
  width: 200px;
  height: 36px;
  margin: 22px auto;
  text-align: center;
  border: 1px solid #25ba80;
}
.product_table .tbody > p > span:nth-of-type(3) .img_wrapper {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  margin: 10px auto;
}
.product_table .tbody > p > span:nth-of-type(3) .img_wrapper > img {
  width: 100%;
  height: 100%;
}
.product_table .tbody > p > span:nth-of-type(3) .img_wrapper > span.mask {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(51, 51, 51, 0.7);
}
.product_table .tbody > p > span:nth-of-type(3) .img_wrapper > span.mask img {
  width: 28px;
  height: 28px;
  margin: 15px;
}
.product_table .tbody > p span:nth-of-type(4) {
  line-height: 80px;
}
.product_table .tbody > p span:nth-of-type(4) .btn {
  padding: 9px 15px;
  border: 1px solid #25ba80;
  color: #25ba80;
  border-radius: 4px;
}
.product_table .tbody > p span:nth-of-type(4) .btn:hover {
  color: #5a5a5a;
  border: 1px solid #5a5a5a;
}
.el-dialog {
  padding: 15px 25px 0 25px;
  margin: 0;
}
.el-dialog__header {
  font-weight: 300!important;
  height: 40px!important;
  line-height: 40px!important;
  padding: 0!important;
}
.el-dialog__body {
  padding: 0!important;
}
.el-dialog__footer {
  height: 40px!important;
  line-height: 40px!important;
  text-align: center!important;
  padding: 0!important;
}
.el-dialog__footer button {
  width: 85px!important;
  height: 28px!important;
  font-size: 12px!important;
  border-radius: 4px!important;
  padding: 0!important;
}
.el-dialog__footer button:nth-of-type(1) {
  color: #25ba80!important;
  border: solid 1px #25ba80!important;
}
.el-dialog__footer button:nth-of-type(2) {
  color: #fff!important;
  border: none!important;
  margin: 0 0 0 5px!important;
  background: #25ba80!important;
}
.el-tree {
  border: none!important;
}
.el-tree-node__content:hover {
  background: #e9f6ff!important;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: #E9F6FF!important;
}
.el-pager li:hover,
.el-pagination button:hover {
  color: #25ba80;
}
.el-pagination button.disabled {
  color: #e4e4e4;
}
.el-pager li.active {
  cursor: default;
  color: #fff;
  border-color: #25ba80;
  background: #25ba80;
}
.el-button {
  color: #25ba80;
  padding: 0;
}
.el-button:focus {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--default {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--default:hover {
  color: #25ba80;
  border: 1px solid #25ba80;
}
.el-button--primary {
  color: #fff;
  border: 1px solid #25ba80;
  background: #25ba80;
}
.el-button--primary:hover,
.el-button--primaryfocus {
  color: #fff;
  border: 1px solid #25ba80;
  background: #25ba80;
}
.el-loading-spinner .path {
  stroke: #25ba80;
}
.el-loading-spinner .el-loading-text {
  color: #25ba80;
}
#moduleMana_main {
  min-width: 1146px;
  position: absolute;
  top: 56px;
  left: 220px;
  bottom: 0;
  right: 0;
  background-color: #f1f1f1;
  font-size: 14px;
}
#moduleMana_main .head .tab_ul {
  height: 32px;
  margin: 20px 0 20px 40px;
}
#moduleMana_main .head .tab_ul li {
  cursor: default;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0 20px;
  background-color: #ffffff;
  float: left;
}
#moduleMana_main .head .tab_ul li:nth-of-type(1) {
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  border-left: solid 1px #cccccc;
}
#moduleMana_main .head .tab_ul li:nth-of-type(2) {
  border: solid 1px #cccccc;
}
#moduleMana_main .head .tab_ul li:nth-of-type(3) {
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  border-right: solid 1px #cccccc;
}
#moduleMana_main .head .tab_ul li.active {
  color: #25ba80;
  border: solid 1px #25ba80;
}
#moduleMana_main .head button {
  width: 60px;
  height: 28px;
  position: absolute;
  top: 22px;
  right: 88px;
}
#moduleMana_main .product_table {
  width: 98%;
  height: 670px;
  border-radius: 4px;
  background: #F1F1F1;
  margin: 0 auto;
}
#moduleMana_main .product_table .product_thead > p,
#moduleMana_main .product_table .product_tbody > p {
  background: #fff;
}
#moduleMana_main .product_table .product_thead > p > span,
#moduleMana_main .product_table .product_tbody > p > span {
  display: inline-block;
  text-indent: 10px;
  vertical-align: top;
}
#moduleMana_main .product_table .product_thead > p > span:nth-of-type(1),
#moduleMana_main .product_table .product_tbody > p > span:nth-of-type(1) {
  width: 80px;
  margin: 0 0 0 50px;
}
#moduleMana_main .product_table .product_thead > p > span:nth-of-type(2),
#moduleMana_main .product_table .product_tbody > p > span:nth-of-type(2) {
  width: 270px;
}
#moduleMana_main .product_table .product_thead > p > span:nth-of-type(3),
#moduleMana_main .product_table .product_tbody > p > span:nth-of-type(3) {
  width: 260px;
}
#moduleMana_main .product_table .product_thead > p > span:nth-of-type(4),
#moduleMana_main .product_table .product_tbody > p > span:nth-of-type(4) {
  width: 169px;
}
#moduleMana_main .product_table .product_thead > p > span:nth-of-type(5),
#moduleMana_main .product_table .product_tbody > p > span:nth-of-type(5) {
  width: 110px;
}
#moduleMana_main .product_table .product_thead > p > span:nth-of-type(6),
#moduleMana_main .product_table .product_tbody > p > span:nth-of-type(6) {
  width: 190px;
}
#moduleMana_main .product_table .product_thead {
  height: 40px;
  line-height: 40px;
  margin: 0 0 4px 0;
}
#moduleMana_main .product_table .product_tbody {
  color: #2c3347;
}
#moduleMana_main .product_table .product_tbody > p {
  height: 50px;
  line-height: 50px;
  margin: 0 0 4px 0;
  position: relative;
}
#moduleMana_main .product_table .product_tbody > p > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#moduleMana_main .product_table .product_tbody > p > span img {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 0;
}
#moduleMana_main .product_table .product_tbody button {
  height: 25px;
  padding: 0 5px;
}
#moduleMana_main .product_table .product_tbody button:not( :nth-of-type(1)) {
  margin: 0 0 0 2px;
}
#moduleMana_main .add_dialog {
  width: 340px;
  height: 155px;
}
#moduleMana_main .add_dialog .add_dialog_main {
  position: relative;
}
#moduleMana_main .add_dialog .add_dialog_main input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-indent: 10px;
  margin: 0 0 12px 0;
}
#moduleMana_main .add_dialog .add_dialog_main .searchProduct_list {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 5px 10px 0 10px;
  border-radius: 2px;
  overflow: auto;
  background: #fff;
  position: absolute;
  top: 38px;
  left: 1px;
}
#moduleMana_main .add_dialog .add_dialog_main .searchProduct_list li {
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#moduleMana_main .add_dialog .add_dialog_main .searchProduct_list li:hover {
  color: #25ba80;
}
